* {
  box-sizing: border-box; }
  
html,body{
  height:100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

.message-delete {
    cursor:pointer;
    display: inline-block;
}

#login-button {
  background-color: #fff;
  background-image: url("../media/images/btn_google_light_normal_ios.svg");
  background-repeat: no-repeat;
  background-position: 0;
  padding-left: 3em;
  font-weight: 500;
}

#login-dialog {
    text-align: center;
}

#logout-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

#message-text-entry {
    width: 87%;
}

#header {
    padding: 20px;
}
