* {
  box-sizing: border-box; }
 
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

.message-delete {
    cursor:pointer;
    display: inline-block;
}

#login-button {
  background-color: #fff;
  background-image: url("../media/images/btn_google_light_normal_ios.svg");
  background-repeat: no-repeat;
  background-position: 0;
  padding-left: 3em;
  font-weight: 500;
}

#login-dialog {
    text-align: center;
}

#logout-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

#chatbox {
    margin: 0 15px;
    position:fixed;
    top:120px;
    bottom:0;
    left:0;
    right:0;
}

#messages {
    position:absolute;
    top:0;
    bottom:70px;
    left:15px;
    right:15px;
}

#message-entry {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 5px;
    border-top: solid #606c71 1px;
    background-color: #fff;
}

#message-text-entry {
    width: 87%;
}

#header {
    padding: 20px;
    height:120px;
    background-color: #606c71
}


.message {
    padding: 10px;
}