<li id="{{id}}" class="message mdl-list__item">
  <span class="message-text mdl-list__item-primary-content">{{text}}</span>
  <span class="mdl-list__item-secondary-info">
    <span class="message-name">{{name}}</span>
    {{#if showDelete}}
    <div class="message-delete mdl-list__item-secondary-action"><i class="material-icons">delete</i></div>
    {{/if}}
  </span>
</li>